* { margin:0px;
    padding:0px;
}

body {
    color: black;
    font-size: 3vh;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

#titleimg {
    position: relative;
    width: 60vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-transition: all 500ms ease;
}

#titleimg:hover{
    background: url("../assets/title-hover.gif");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1000000000;
}


#title {
    background-color: rgb(233,223,211);
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url("../assets/waves.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#head:hover{
    background: url("../assets/title-hover.gif");
    background-size: contain;
    background-repeat: no-repeat;
}

#past {
    background-color: rgb(110,189,190);
    height: 100vh;
    position: relative;
    background-image: url("../assets/waves2.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#gramo {
    padding:5vh;
    height: 45vh;
    width: 30vh;
    background: url("../assets/phono.gif");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    margin-top: 20vh;
    margin-left: 0vh;
    bottom: 20vh;
    display:inline-block;
}

#radio {
    padding: 5vh;
    height: 20vh;
    width: 40vh;
    background: url("../assets/radio.gif");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    margin-left: 2vh;
    margin-top: 20vh;
    display:inline-block;
}

#present {
    background-color: rgb(0,108,209);
    height: 100vh;
    background-image: url("../assets/waves3.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;
}

#ipod {
    top: 20vh;
    padding: 5vh;
    width: 30vh;
    height: 25vh;
    margin-left: 2vh;
    background: url("../assets/ipod.gif");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    display:inline-block;
}

#iphone {
    top: 20vh;
    padding: 10vh;
    height: 25vh;
    width: 20vh;
    background: url("../assets/iphone.gif");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    margin-left: 2vh;
    display:inline-block;
}

#future {
    background-color: rgb(50,47,100);
    height: 100vh;
    position: relative;
}

#head {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 10vh;
    height: 35vh;
    width: 35vh;
    background: url("../assets/head.png");
    background-size: contain;
    background-repeat: no-repeat;
    display:block;
}


#head:hover{
    background: url("../assets/head.gif");
    background-size: contain;
    background-repeat: no-repeat;
}

.info {
    font-family: Futura, sans-serif;
    font-size: 2vh;
    width: 30vh;
    height: 60vh;
    position:relative;
    padding-left: 10vh;
    padding-top: 20vh;
    float:left;
    text-align: center;
    line-height: 3vh;
}

.infone {
    font-family: Futura, sans-serif;
    font-size: 2vh;
    width: 30vh;
    height: 60vh;
    position:relative;
    padding-left: 1vh;
    padding-top: 20vh;
    float:left;
    text-align: center;
    line-height: 3vh;
}

.info h1 {
    font-family: Myriad, Helvetica, sans-serif;
    padding-bottom: 2vh;
    text-align: left;
    text-align: center;
}

.infofirst {
    font-family: Futura, sans-serif;
    font-size: 2vh;
    width: 30vh;
    height: 60vh;
    position:relative;
    padding-left: 5vh;
    padding-top: 20vh;
    float:left;
    text-align: center;
    line-height: 3vh;
}

.infofirst h1 {
    font-family: "cabazon",cursive;
    padding-bottom: 2vh;
    text-align: center;
  }

.inforadio h1{
    font-family: "aw-conqueror-carved",cursive;
    padding-bottom: 2vh;
    text-align: center;
}

.inforadio {
    font-family: Futura, sans-serif;
    font-size: 2vh;
    width: 30vh;
    height: 60vh;
    position:relative;
    padding-left: 0vh;
    padding-top: 20vh;
    float:left;
    text-align: center;
    line-height: 3vh;
}

.infolast {
    color: rgb(169,220,221);
    font-family: Futura, sans-serif;
    font-size: 2vh;
    width: 85vh;
    height: 60vh;
    position:relative;
    padding-top: 5vh;
    text-align: center;
    line-height: 3vh;
}

.infolast h1{
    font-family: "aviano-future", typewriter, monospace;
    padding-bottom: 2vh;
    text-align: center;
}

#last {
    margin-left:auto;
    margin-right:auto;
    width: 90vh;
}

.app-nav {
    position: fixed;
    width: 17vh;
    top: 10vh;
    right: 0;
    bottom: 0;
    height: ;
    z-index: 101;
}

.app-nav li .text {
    opacity: 0;   
}

.app-nav li:hover .text {
    opacity: 1;   
}

.circle {
	width: 2vh;
	height: 2vh;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    position:relative;
    float:right;
    margin-top: 0.8vh;
}

.text {
    font-family: helvetica;
    font-size: 2.5vh;
}

.item {
    display:block;
    margin:2vh;
    
    vertical-align: middle;
}

.app-nav ul {
    position: relative;
    list-style: none;
    list-style-image: none;
    margin-right: 1vh;
}

.app-nav ul:hover {
    position: relative;
    list-style: none;
}
